SUPABASE_URL=https://erdltqfqxrtiqdmtvunl.supabase.co
SUPABASE_SERVICE_KEY=PASTE_SERVICE_ROLE_KEY_HERE
CLOUDINARY_URL=cloudinary://PASTE_API_KEY:PASTE_API_SECRET@oe4jcpek
JWT_SECRET=change-this-to-a-long-random-string
PORT=3000